body {
    margin: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0465828c;
}

.slogan {
    text-align: center;
    color: #fff;
    background-color: #0465828c;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 1%;
    margin-right: 40%;
}

.website-name {
    font-size: 56px;
    font-weight: bolder;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    height: 150px;
    width: 150px;
    cursor: pointer;
    filter: brightness(250%) contrast(100%);
}

.menu-icon {
    font-size: 48px;
    color: #2b8eb8;
    cursor: pointer;
    position: fixed;
    top: 18%;
    right: 3%;
    z-index: 999;
    background-color: #fff;
}

.menu-icon:hover {
    background-color: #04658244;
    color: #fff;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99; /* Lower z-index */
    top: 0;
    left: 0;
    background: linear-gradient(to right, #04658244, #02303bff);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a.active {
    background-color: #046582;
    color: #fff;
}

.footerNav ul li a.active{
    color: #fff;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    display: none;
}

#navbar.open .overlay-content {
    display: block;
}

.overlay a {
    padding: 1%;
    text-decoration: none;
    font-size: 24px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
}

#navbar a.active {
    background-color: #fff;
    color: #046582;
}

.overlay a.active:hover,
.overlay a.active:focus {
    background-color: #024d63;
}

.overlay a:hover,
.overlay a:focus {
    color: #2b8eb8;
    background-color: #f8f8f8;
}

.overlay .closebtn {
    display: none;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 18px;
    }
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #0b6387;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #2b8eb8;
    opacity: 0, 9;
}

.socialIcons a:hover {
    background-color: #fff;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
    color: #fff;
}

.copyright {
    font-size: 14px;
}

.footer-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

@media screen and (max-width: 425px) {
    .menu-icon {
        right: 2%;
    }

    .header {
        margin-right: 0;
    }

    .overlay-content {
        display: block;
        position: relative;
        top: initial;
        margin-top: 10%;
    }

    .overlay a {
        font-size: 20px;
    }

    .footerNav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.page-editor {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-decoration-line: none;
}

.page-editor::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -200%;
    width: 300%;
    height: 300%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: all 0.5s;
    pointer-events: none;
}

.page-editor:hover::before {
    top: -30%;
    left: -30%;
}

.page-editor:hover {
    color: #f8f8f8;
}

.page-editor:focus {
    outline: none;
}

.user-profile {
    position: absolute;
    top: 18%; 
    right: 1.9%; 
    background-color: #fff;
    color: #2b8eb8;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -200%;
    width: 300%;
    height: 300%;
    background: transparent;
    transition: all 0.5s;
    pointer-events: none;
}

.user-profile:hover::before {
    top: -30%;
    left: -30%;
}

.user-profile:hover {
    color: #fff;
    background-color: #0465828c;
}

.user-profile:focus {
    outline: none;
}

/* footer video */
.video-containerfooter {
    margin-top: 0;
}

/* Header video */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.feedback {
    width: 90%;
    max-width: 600px;
    margin: 3% auto;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 2%;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback h2 {
    text-align: center;
    color: #5487b1;
    margin-bottom: 20px;
}

.feedback label {
    display: block;
    color: #5487b1;
    margin-bottom: 10px;
}

.feedback input[type="text"],
.feedback input[type="email"],
.feedback select,
.feedback textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.feedback p{
    color: #5487b1;
}

.feedback input[type="radio"],
.feedback input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}

.feedback input[type="submit"],
.feedback input[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5487b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.feedback input[type="submit"]:hover,
.feedback input[type="button"]:hover {
    background-color: #024d63;
}   

/* Preview Section Styles */

#preview-section {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 2%;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-top: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#preview-section h3 {
    text-align: center;
    color: #5487b1;
    margin-bottom: 20px;
}

#preview-section strong {
    color: #5487b1;
    display: block;
    margin-bottom: 10px;
}

#preview-section p {
    margin-bottom: 20px;
}

#error-message,
#success-message {
    margin-top: 20px;
    text-align: center;
    display: none;
}

#error-message {
    color: #5487b1;
}

#success-message {
    color: #5487b1;
}